<h5 class="income-header">Add Income</h5>
<form [formGroup]="incomeForm" class="form-group pb-2 col-lg-12">
    <label class="col-lg-3 p-0">
        <input type="number" formControlName="amount" class="form-control" placeholder="Amount"/>
    </label>
    <label class="col-lg-6">
        <input type="text" formControlName="reason" class="form-control" placeholder="Description"/>
    </label>
    <button (click)="add()" class="btn btn-secondary col-lg-3" [disabled]="!incomeForm.valid">Add</button>
</form>
<div *ngIf="incomesList.length > 0" class="list-container">
    <h5 class="income-header">Incomes</h5>
    <ng-container *ngFor="let income of incomesList">
        <div class="amount-card card-bg" (click)="show = true">
            <img src="./../../../assets/delete_icon.svg" (click)="deleteIncome(income)"/>
            
            <h6 class="reason-block">{{income.reason}}</h6>
            <h6 class="amount-block">{{income.amount}}</h6>
        </div>
    </ng-container>
</div>